<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jogeeks.mobipress"
    android:versionCode="1"
    android:versionName="0.1-alpha" >
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
</manifest>
